[Desktop Entry]
Exec=/usr/bin/postinstallerf/categorias/Network
Version=1.0
Type=Application
Name=Network
GenericName=Network
Comment=Network programs
Icon=/usr/share/icons/acciones/NETWORK-FOLDER.png
Categories=AudioVideo;Player;Qt;
StartupNotify=false
