[Desktop Entry]
Exec=postinstaller -d
Version=1.0
Type=Application
Name=Enable or Disable Sudo
GenericName=Enable/Disable Sudo
Comment=Add or remove the currect user to group sudo
Icon=/usr/share/icons/acciones/sudo-logo.png
Categories=AudioVideo;Player;Qt;
StartupNotify=false
