[Desktop Entry]
Exec=/usr/bin/postinstallerf/auntenticacion /usr/bin/postinstallerf/tweek/gracia-sudo
Version=1.0
Type=Application
Name=Gracia Sudo
GenericName=Gracia Sudo
Comment=Enable o disable vulnerability sudo
Icon=/usr/share/icons/acciones/sudo-gracia-logo.png
Categories=AudioVideo;Player;Qt;
StartupNotify=false
