[Desktop Entry]
Exec=/usr/bin/postinstallerf/tweek/nvidia 
Version=1.0
Type=Application
Name=Nvidia drivers
GenericName=Nvidia drivers
Comment=Install Nvidia drivers
Icon=/usr/share/icons/acciones/nvidia-icon.png
Categories=AudioVideo;Player;Qt;
StartupNotify=false
