[Desktop Entry]
Exec=postinstaller -c
Version=1.0
Type=Application
Name=Search Copr
GenericName=Copr is an easy-to-use automatic build system providing a package repository as its output.
Comment=Search Copr
Icon=/usr/share/icons/acciones/copr.png
Categories=AudioVideo;Player;Qt;
StartupNotify=false
