[Desktop Entry]
Exec=postinstaller -p
Version=1.0
Type=Application
Name=Search PPA
GenericName=Search PPA
Comment=Search, remove and install PPA
Icon=/usr/share/icons/acciones/ppa.png
Categories=AudioVideo;Player;Qt;
StartupNotify=false
