[Desktop Entry]
Exec=postinstaller -n vlc
Version=1.0
Type=Application
Name=Vlc
GenericName=Vlc
Comment=Open-source cross-platform multimedia player and framework, which can also stream audio and video in a number of formats
Icon=/usr/share/icons/acciones/VLC.png
Categories=AudioVideo;Player;Qt;
StartupNotify=false
